h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 95%;
  margin: 0 auto;
  max-width: 1170px;
}

header {
  background-color: #5b6778;
  color: #cccccc;
  padding: 15px 0;
  font-size: 16px;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .container .phone i {
  margin-right: 10px;
}

header .container .phone a {
  color: #cccccc;
  text-decoration: none;
  display: inline-block;
}

header .container .phone a:first-child {
  margin-right: 10px;
}

header .container .soc-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .container .soc-links__item {
  margin-right: 10px;
}

header .container .soc-links__item:last-child {
  margin-right: 0;
}

header .container .adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .container .adress i {
  margin-right: 10px;
}

#menu {
  padding: 10px 0;
  -webkit-box-shadow: 0 6px 14px -8px gray;
          box-shadow: 0 6px 14px -8px gray;
}

#menu .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#menu .container .menu-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#menu .container .menu-list li a {
  display: block;
  padding: 10px 10px;
  text-decoration: none;
  color: #000000;
  font-family: 'Open Sans';
  font-size: 18px;
}

#menu .container .menu-list__var {
  display: block;
  background-color: #f15a22;
  color: #ffffff !important;
  border-radius: 5px;
}

#ofic {
  background-color: #f4f7fc;
  padding-bottom: 70px;
}

#ofic .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 4px 6px -1px gray;
          box-shadow: 0px 4px 6px -1px gray;
}

#ofic .container .left {
  max-width: 370px;
}

#ofic .container .left .top {
  background-color: #1877ba;
  background-image: url(../img/omcm.png);
  background-position: right top;
  background-repeat: no-repeat;
}

#ofic .container .left .top p {
  font-family: 'PFDinTextCondPro';
  font-size: 30px;
  color: #ffffff;
  padding: 30px;
}

#ofic .container .left .bot {
  padding: 15px 30px;
}

#ofic .container .left .bot .list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  font-family: 'Open Sans';
  font-size: 18px;
  margin-bottom: 20px;
}

#ofic .container .left .bot .list-item .wrapper {
  width: 45px;
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#ofic .container .middle {
  max-width: 400px;
}

#ofic .container .middle .top {
  padding: 30px 30px 20px 30px;
  background-color: #e7e7e7;
  background-image: url(../img/aom.png);
  background-position: right top;
  background-repeat: no-repeat;
}

#ofic .container .middle .top p {
  font-family: 'PFDinTextCondPro';
  font-size: 30px;
  font-weight: 500;
  color: #3f4a59;
  margin-bottom: 20px;
}

#ofic .container .middle .top span {
  font-family: 'Open Sans';
  font-size: 17px;
  line-height: 25px;
  color: #405965;
}

#ofic .container .middle .top a {
  margin-top: 15px;
  display: block;
  text-decoration: none;
  line-height: 40px;
  font-family: 'Open Sans';
  font-size: 17px;
  color: #ffffff;
  padding: 0 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #f15a22;
  border-radius: 5px;
}

#ofic .container .middle .bottom {
  padding: 60px 20px 30px 20px;
  background: -webkit-gradient(linear, left top, right bottom, from(#1f82c1), to(#44bce4));
  background: linear-gradient(to bottom right, #1f82c1, #44bce4);
}

#ofic .container .middle .bottom .disc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#ofic .container .middle .bottom .disc p {
  font-family: 'PFDinTextCondPro';
  font-size: 113px;
  color: #beedfc;
}

#ofic .container .middle .bottom .disc div {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: 'PFDinTextCondPro';
  font-size: 30px;
  color: #ffffff;
  line-height: 30px;
  padding-left: 20px;
}

#ofic .container .middle .bottom span {
  display: block;
  font-family: 'Open Sans';
  font-size: 17px;
  line-height: 22px;
  color: #ffffff;
  padding: 0 20px;
}

#ofic .container .right {
  max-width: 400px;
  width: 400px;
  background-image: url(../img/rifon.png);
  background-size: cover;
  padding: 30px 30px 20px 30px;
}

#ofic .container .right p {
  font-size: 30px;
  font-family: 'PFDinTextCondPro';
  line-height: 30px;
  color: #beedfc;
  margin-bottom: 65px;
}

#ofic .container .right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#ofic .container .right ul li {
  font-family: 'Open Sans';
  font-size: 15px;
  color: #ffffff;
  width: 50%;
  margin-bottom: 10px;
  padding-left: 23px;
}

#kto {
  padding: 55px 0;
}

#kto .container .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#schet {
  background-color: #d4d7db;
  padding: 40px 0 75px 0;
}

#schet .container h4 {
  font-family: 'PFDinTextCondPro';
  font-size: 40px;
  color: #405965;
  text-align: center;
}

#schet .container .lica {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 2px 8px 0px gray;
          box-shadow: 0px 2px 8px 0px gray;
  border-radius: 8px;
  margin-top: 35px;
  margin-bottom: 45px;
}

#schet .container .lica__item {
  width: 33.33333%;
  text-align: center;
  font-family: 'PFDinTextCondPro';
  font-size: 18px;
  line-height: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#d8d8d8));
  background: linear-gradient(to bottom, #efefef, #d8d8d8);
}

#schet .container .lica__item:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

#schet .container .lica__item:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

#schet .container .lica__item-active {
  color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#44bde5), to(#38a9d9));
  background: linear-gradient(to bottom, #44bde5, #38a9d9);
}

#schet .container .prov-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#schet .container .prov-list__item {
  padding: 0 20px 26px 20px;
  background-color: #fff;
  max-width: 271px;
  border-radius: 8px;
}

#schet .container .prov-list__item .image {
  position: relative;
  margin-bottom: 60px;
}

#schet .container .prov-list__item .image .fon {
  display: block;
  margin: 0 auto;
}

#schet .container .prov-list__item .image .cardImage {
  position: absolute;
  left: 50%;
  top: 70px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#schet .container .prov-list__item .sch {
  color: #1b559e;
  font-family: 'PFDinTextCondPro';
  font-size: 23px;
  text-align: center;
  margin-bottom: 15px;
}

#schet .container .prov-list__item a.chto {
  display: block;
  font-family: 'PFDinDisplayPro';
  font-size: 15px;
  color: #4c4c4c;
  text-align: center;
  margin-bottom: 25px;
}

#schet .container .prov-list__item .price {
  font-family: 'PFDinTextCondPro';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  font-size: 27px;
}

#schet .container .prov-list__item .price__old {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  width: 30%;
  background: -webkit-gradient(linear, left top, right bottom, from(#38bef4), to(#147ea8));
  background: linear-gradient(to bottom right, #38bef4, #147ea8);
}

#schet .container .prov-list__item .price__old p {
  position: relative;
}

#schet .container .prov-list__item .price__old p::before {
  content: '';
  display: block;
  width: 115%;
  height: 3px;
  background-color: black;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

#schet .container .prov-list__item .price__new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70%;
  color: #1b559e;
  background: -webkit-gradient(linear, left top, right bottom, from(#e1e7ee), to(#bfc4cb));
  background: linear-gradient(to bottom right, #e1e7ee, #bfc4cb);
}

#schet .container .prov-list__item .order {
  display: block;
  text-decoration: none;
  margin: 0 auto;
  color: #ffffff;
  line-height: 55px;
  font-family: 'Myriad Pro';
  font-size: 17px;
  background-color: #f15a22;
  text-align: center;
  font-weight: 700;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 13px;
}

#schet .container .prov-list__item .order-lgot {
  border-radius: 5px;
  padding: 15px;
  font-weight: 700;
  height: 55px;
  display: block;
  text-decoration: none;
  margin: 0 auto;
  color: #ffffff;
  font-family: 'Myriad Pro';
  font-size: 17px;
  background-color: #3baedc;
  text-align: center;
}

#schet .container .prov-list__item .order-lgot span {
  font-size: 11px;
  color: #065070;
  display: block;
}

#gallery {
  padding: 90px 0 125px 0;
}

#gallery .container h4 {
  font-family: 'PFDinTextCondPro';
  font-size: 40px;
  text-align: center;
  color: #405965;
  margin-bottom: 55px;
}

#gallery .container .gallery-wrapper .gallery-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#faq {
  background-color: #f4f7fc;
  padding: 120px 0 100px 0;
}

#faq .container h4 {
  font-family: 'PFDinTextCondPro';
  font-size: 40px;
  text-align: center;
  color: #405965;
  margin-bottom: 32px;
}

#faq .container .faq-list__item {
  margin-bottom: 10px;
}

#faq .container .faq-list__item-visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  padding: 30px;
  -webkit-box-shadow: 0px 2px 8px 0px gray;
          box-shadow: 0px 2px 8px 0px gray;
  border-radius: 8px;
}

#faq .container .faq-list__item-visible .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#faq .container .faq-list__item-visible .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

#faq .container .faq-list__item-visible .right p {
  font-family: 'Open Sans';
  font-size: 20px;
  font-weight: 700;
  color: #4a5667;
}

#faq .container .faq-list__item-visible .right i {
  font-size: 75px;
  margin-left: 110px;
}
/*# sourceMappingURL=style.css.map */