h1, h2, h3, h4, h5, h6
    margin: 0
    padding: 0
*
    box-sizing: border-box
.container
    width: 95%
    margin: 0 auto
    max-width: 1170px
header
    background-color: #5b6778
    color: #cccccc
    padding: 15px 0
    font-size: 16px
    .container
        display: flex
        align-items: center
        justify-content: space-between
        .phone
            i
                margin-right: 10px
            a
                color: #cccccc
                text-decoration: none
                display: inline-block
                &:first-child
                    margin-right: 10px
        .soc-links
            display: flex
            &__item
                margin-right: 10px
                &:last-child
                    margin-right: 0
        .adress
            display: flex
            i
                margin-right: 10px

#menu
    padding: 10px 0
    box-shadow: 0 6px 14px -8px gray
    .container
        display: flex
        align-items: center
        justify-content: space-between
        .logo
        .menu-list
            width: 100%
            display: flex
            justify-content: space-between
            li
                a
                    display: block
                    padding: 10px 10px
                    text-decoration: none
                    color: #000000
                    font-family: 'Open Sans'
                    font-size: 18px
            &__var
                display: block
                background-color: #f15a22
                color: #ffffff!important
                border-radius: 5px

#ofic
    background-color: #f4f7fc
    padding-bottom: 70px
    .container
        display: flex
        box-shadow: 0px 4px 6px -1px gray
        .left
            max-width: 370px
            .top
                background-color: #1877ba
                background-image: url(../img/omcm.png)
                background-position: right top
                background-repeat: no-repeat
                p
                    font-family: 'PFDinTextCondPro'
                    font-size: 30px
                    color: #ffffff
                    padding: 30px
            .bot
                padding: 15px 30px
                .list
                    &-item
                        display: flex
                        align-items: center
                        justify-content: flex-start
                        width: 100%
                        font-family: 'Open Sans'
                        font-size: 18px
                        margin-bottom: 20px
                        .wrapper
                            width: 45px
                            margin-right: 15px
                            display: flex
                            justify-content: center
        .middle
            max-width: 400px
            .top
                padding: 30px 30px 20px 30px
                background-color: #e7e7e7
                background-image: url(../img/aom.png)
                background-position: right top
                background-repeat: no-repeat
                p
                    font-family: 'PFDinTextCondPro'
                    font-size: 30px
                    font-weight: 500
                    color: #3f4a59
                    margin-bottom: 20px
                span
                    font-family: 'Open Sans'
                    font-size: 17px
                    line-height: 25px
                    color: #405965
                a
                    margin-top: 15px
                    display: block
                    text-decoration: none
                    line-height: 40px
                    font-family: 'Open Sans'
                    font-size: 17px
                    color: #ffffff
                    padding: 0 15px
                    width: fit-content
                    background-color: #f15a22
                    border-radius: 5px
            .bottom
                padding: 60px 20px 30px 20px
                background: linear-gradient(to bottom right, #1f82c1,   #44bce4)
                .disc 
                    display: flex 
                    align-items: center
                    justify-content: space-between 
                    p
                        font-family: 'PFDinTextCondPro'
                        font-size: 113px
                        color: #beedfc
                    div
                        display: block
                        width: fit-content
                        font-family: 'PFDinTextCondPro'
                        font-size: 30px
                        color: #ffffff
                        line-height: 30px
                        padding-left: 20px
                span
                    display: block
                    font-family: 'Open Sans'
                    font-size: 17px
                    line-height: 22px
                    color: #ffffff
                    padding: 0 20px
        .right
            max-width: 400px
            width: 400px
            background-image: url(../img/rifon.png)
            background-size: cover
            padding: 30px 30px 20px 30px
            p
                font-size: 30px
                font-family: 'PFDinTextCondPro'
                line-height: 30px
                color: #beedfc
                margin-bottom: 65px
            ul
                display: flex
                flex-wrap: wrap
                li
                    font-family: 'Open Sans'
                    font-size: 15px
                    color: #ffffff
                    width: 50%
                    margin-bottom: 10px
                    padding-left: 23px

#kto
    padding: 55px 0
    .container
        .list
            display: flex
            justify-content: space-between
            align-items: center
            .item

#schet
    background-color: #d4d7db
    padding: 40px 0 75px 0
    .container  
        h4
            font-family: 'PFDinTextCondPro'
            font-size: 40px
            color: #405965
            text-align: center
        .lica
            display: flex
            box-shadow: 0px 2px 8px 0px gray
            border-radius: 8px
            margin-top: 35px
            margin-bottom: 45px
            &__item
                width: 33.33333%
                text-align: center
                font-family: 'PFDinTextCondPro'
                font-size: 18px
                line-height: 50px
                background: linear-gradient(to bottom, #efefef, #d8d8d8)
                &:first-child
                    // box-shadow: -1px 2px 8px 0px gray
                    border-top-left-radius: 8px
                    border-bottom-left-radius: 8px
                &:last-child
                    // box-shadow: 8px 2px 8px 0px gray
                    border-top-right-radius: 8px
                    border-bottom-right-radius: 8px
                &-active
                    color: #ffffff
                    background: linear-gradient(to bottom, #44bde5, #38a9d9)
        .prov
            &-list
                display: flex
                justify-content: space-between
                &__item
                    padding: 0 20px 26px 20px
                    background-color: #fff
                    max-width: 271px
                    border-radius: 8px
                    .image
                        position: relative
                        margin-bottom: 60px
                        .fon
                            display: block
                            margin: 0 auto
                        .cardImage
                            position: absolute
                            left: 50%
                            top: 70px
                            transform: translateX(-50%)
                    .sch
                        color: #1b559e
                        font-family: 'PFDinTextCondPro'
                        font-size: 23px
                        text-align: center
                        margin-bottom: 15px
                    a.chto
                        display: block
                        font-family: 'PFDinDisplayPro'
                        font-size: 15px
                        color: #4c4c4c
                        text-align: center
                        margin-bottom: 25px
                    .price
                        font-family: 'PFDinTextCondPro'
                        display: flex
                        height: 50px
                        font-size: 27px
                        &__old
                            display: flex
                            align-items: center
                            justify-content: center
                            color: #ffffff
                            width: 30%
                            background: linear-gradient(to bottom right, #38bef4, #147ea8)
                            p
                                position: relative
                                &::before
                                    content: ''
                                    display: block
                                    width: 115%
                                    height: 3px
                                    background-color: black
                                    position: absolute
                                    left: 0
                                    top: 50%
                                    transform: rotate(-30deg)
                        &__new
                            display: flex
                            align-items: center
                            justify-content: center
                            width: 70%
                            color: #1b559e
                            background: linear-gradient(to bottom right, #e1e7ee, #bfc4cb)
                    .order
                        display: block
                        text-decoration: none
                        margin: 0 auto
                        color: #ffffff
                        line-height: 55px
                        font-family: 'Myriad Pro'
                        font-size: 17px
                        background-color: #f15a22
                        text-align: center
                        font-weight: 700
                        border-radius: 5px
                        margin-top: 20px
                        margin-bottom: 13px
                    .order-lgot
                        border-radius: 5px
                        padding: 15px
                        font-weight: 700
                        height: 55px
                        display: block
                        text-decoration: none
                        margin: 0 auto
                        color: #ffffff
                        font-family: 'Myriad Pro'
                        font-size: 17px
                        background-color: #3baedc
                        text-align: center
                        span
                            font-size: 11px
                            color: #065070
                            display: block

#gallery
    padding: 90px 0 125px 0
    .container
        h4
            font-family: 'PFDinTextCondPro'
            font-size: 40px
            text-align: center
            color: #405965
            margin-bottom: 55px
        .gallery-wrapper
            .gallery-slider
                display: flex
                justify-content: space-between
                &__item

#faq
    background-color: #f4f7fc
    .container
        h4
            font-family: 'PFDinTextCondPro'
            font-size: 40px
            text-align: center
            color: #405965
            margin-bottom: 32px
        .faq-list
            &__item
                &-visible
                    display: flex
                    justify-content: space-between
                    .left
                    .right
                        display: flex
                        p
                            font-family: 'Open Sans'
                            font-size: 20px
                            font-weight: 700
                            color: #4a5667


//________________________________________________________

#advantages
    background: #ffffff
    padding: 70px 0px
    .wrap-adv
        background: #1877ba
        padding: 0px 20px
        padding-bottom: 50px
        .adv-offer
            display: flex
            justify-content: space-between
        .advant-item
            .advant-item__info
                h6
                    text-align: center
                    font-family: 'PFDinTextCondPro', sans-serif
                    font-weight: normal
                    font-size: 50px
                    color: #ffffff
                    margin-bottom: 10px
                    margin-top: 30px

                p
                    font-size: 17px
                    font-family: 'Open Sans', sans-serif
                    font-weight: normal
                    text-align: center
                    color: #ffffff
                    margin: 0 auto
                    max-width: 175px





#clients
    background: #f4f7fc
    padding: 50px 0px
    h5
        font-family: 'PFDinTextCondPro', sans-serif
        font-weight: normal
        text-align: center
        font-size: 40px
        margin-bottom: 50px
        color: #405965
    .slider-clients
    .slick-track
        padding: 20px 0px
    .client-item
        border-radius: 3px
        max-height: 600px
        margin: 0px 20px
        outline: none
        padding: 30px
        max-width: 370px
        box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.2)
        .review-head
            display: flex
            align-items: flex-end
            .review-head_img
                margin-right: 10px
            .review-head_title
                h6
                    font-family: 'Open Sans', sans-serif
                    font-size: 20px
                    font-weight: 600
                    margin-bottom: 10px
                p
                    font-family: 'Open Sans', sans-serif
                    font-size: 17px
                    font-weight: normal
        .review-body
            margin-top: 30px
            position: relative
            &:before
                display: block
                content: ''
                margin-bottom: 20px
                width: 45px
                height: 3px
                background: #1b559e
            p
                margin-bottom: 15px
                font-family: 'Open Sans', sans-serif
                font-size: 17px
                font-weight: normal




#documents
    padding: 50px 0px
    background: #f4f7fc
    h5
        font-family: 'PFDinTextCondPro', sans-serif
        font-weight: normal
        text-align: center
        font-size: 40px
        margin-bottom: 50px
        color: #405965
    .documents_wrap
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        .doc_item
            padding-top: 50px
            padding-left: 50px
            padding-bottom: 50px
            width: 49%
            padding-right: 20px
            display: flex
            background: #fff
            border-radius: 5px
            margin-bottom: 20px
            box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.2)
            .doc_img
                margin-right: 20px
            .doc_head
                margin-bottom: 20px
                font-family: 'PFDinTextCondPro', sans-serif
                font-size: 27px
                color: #1b559e
                font-weight: normal
            .doc_body
                font-size: 17px
                color: #39424e
                font-family: 'Open Sans', sans-serif
                font-weight: normal




#check
    padding: 50px
    background: #ffffff
    h5
        font-family: 'PFDinTextCondPro', sans-serif
        font-weight: normal
        text-align: center
        font-size: 40px
        margin-bottom: 50px
        color: #405965
    p
        font-size: 17px
        color: #39424e
        font-family: 'Open Sans', sans-serif
        font-weight: normal
        margin-bottom: 30px
        .check-links
            ul
                margin: 0
                padding: 0


#contacts
    padding: 70px 0px
    background: #f4f7fc

    h5
        font-family: 'PFDinTextCondPro', sans-serif
        font-weight: normal
        text-align: center
        font-size: 40px
        margin-bottom: 50px
        color: #405965

    .contact-wrap
        display: flex
        justify-content: space-between
        margin-bottom: 45px
        .contact-item
            display: flex
            .contact-item__icon
                margin-right: 10px
            .contact-item__text
                .contact-item__head
                    font-size: 25px
                    font-family: 'PFDinTextCondPro', sans-serif
                    font-weight: normal
                    color: #1b559e
                    margin-bottom: 10px
                a
                    display: block
                    text-decoration: none
                    color: #39424e
                    font-family: 'Open Sans', sans-serif
                    font-weight: normal
                    line-height: 20px

                p
                    color: #39424e
                    font-family: 'Open Sans', sans-serif
                    font-weight: normal
                    line-height: 20px








footer
    background: #e3e7ed
    padding: 90px 0px
    font-family: 'Open Sans', sans-serif
    .container
        display: flex
        justify-content: space-between
        .foot-info
            p
                margin-bottom: 20px
                font-weight: normal
                font-size: 15px
                color: #39424e
        .foot-links
            ul
                padding: 0
                margin: 0
                li
                    margin-bottom: 20px
                    a
                        font-size: 17px
                        color: #39424e
                        text-decoration: none
                        font-weight: normal
        .foot-soc
            div
                margin-bottom: 20px
                color: #39424e
                font-size: 17px
                color: #39424e
                a
                    color: #39424e


        .foot-back
            display: flex
            .phone-ic
                margin-right: 10px
                color: #39424e
                font-size: 17px
            .phones
                a
                    display: block
                    font-size: 17px
                    font-weight: normal
                    color: #39424e
                    text-decoration: none
            button
                display: block
                color: #fff
                width: 265px
                height: 60px
                background: #f1602a
                font-size: 17px
                font-weight: bold
                border: none
                border-radius: 5px
                margin-top: 20px
                margin-bottom: 40px
                text-align: center
            p
                font-size: 12px
                font-weight: normal
                color: #39424e
                margin-bottom: 20px
            a
                font-size: 12px
                font-weight: normal
                color: #39424e



