h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 95%;
  margin: 0 auto;
  max-width: 1170px;
}

.dpb {
  display: block !important;
}

.ovh {
  overflow: hidden;
}

.dpn {
  display: none !important;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  max-width: 500px;
  z-index: 101;
  background: #f4f7fc;
  padding: 30px 15px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 4px 6px -1px grey;
          box-shadow: 0px 4px 6px -1px grey;
}

.popup .closepop {
  cursor: pointer;
  position: absolute;
  right: 3px;
  top: 0;
}

.popup .closepop i {
  font-size: 30px;
}

.popup p {
  font-family: 'PFDinTextCondPro-Medium';
  font-size: 40px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 10px;
  color: #1b559e;
}

.popup form {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  font-family: 'Open Sans';
  font-size: 15px;
}

.popup form input {
  line-height: 40px;
  padding: 0 15px;
  width: 100%;
  max-width: 400px;
  border: none;
  border-radius: 5px;
  margin-bottom: 15px;
}

.popup form button {
  width: 100%;
  outline: none;
  border-radius: 5px;
  max-width: 400px;
  line-height: 40px;
  border: none;
  background: #f15a22;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 101;
}

.mobile-menu ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-menu ul li a {
  text-align: center;
  display: block;
  padding: 10px 10px;
  text-decoration: none;
  color: #ffffff;
  font-family: 'Open Sans';
  font-size: 16px;
}

.burger {
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 101;
  cursor: pointer;
  display: none;
}

.burger span {
  display: block;
  height: 5px;
  width: 30px;
  border-radius: 2px;
  margin-bottom: 4px;
  background-color: #1877ba;
  -webkit-transition: .3s;
  transition: .3s;
  border: 1px solid #ffffff;
}

.burger span:last-child {
  margin-bottom: 0;
}

.burger-active span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger-active span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-top: -8px;
}

.burger-active span:nth-child(2) {
  display: none;
}

header {
  background-color: #5b6778;
  color: #cccccc;
  padding: 15px 0;
  font-size: 16px;
  font-family: 'Open Sans';
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .container .phone {
  margin-right: 55px;
}

header .container .phone i {
  margin-right: 10px;
}

header .container .phone a {
  color: #cccccc;
  text-decoration: none;
  display: inline-block;
}

header .container .phone a:first-child {
  margin-right: 10px;
}

header .container .soc-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .container .soc-links__item {
  margin-right: 10px;
}

header .container .soc-links__item:last-child {
  margin-right: 0;
}

header .container .adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .container .adress i {
  margin-right: 10px;
}

header .container .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#menu {
  padding: 10px 0;
  -webkit-box-shadow: 0 6px 14px -8px gray;
          box-shadow: 0 6px 14px -8px gray;
}

#menu .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#menu .container .menu-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#menu .container .menu-list li a {
  display: block;
  padding: 10px 10px;
  text-decoration: none;
  color: #000000;
  font-family: 'Open Sans';
  font-size: 18px;
}

#menu .container .menu-list__var {
  display: block;
  background-color: #f15a22;
  color: #ffffff !important;
  border-radius: 5px;
}

#ofic {
  background-color: #f4f7fc;
  padding-bottom: 70px;
}

#ofic .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 4px 6px -1px gray;
          box-shadow: 0px 4px 6px -1px gray;
}

#ofic .container .left {
  max-width: 370px;
  width: 100%;
}

#ofic .container .left .top {
  background-color: #1877ba;
  background-image: url(../img/omcm.png);
  background-position: right top;
  background-repeat: no-repeat;
}

#ofic .container .left .top p {
  font-family: 'PFDinTextCondPro-Medium';
  font-size: 30px;
  color: #ffffff;
  padding: 30px;
}

#ofic .container .left .bot {
  padding: 15px 30px;
}

#ofic .container .left .bot .list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  font-family: 'Open Sans';
  font-size: 18px;
  margin-bottom: 20px;
}

#ofic .container .left .bot .list-item .wrapper {
  width: 45px;
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#ofic .container .middle {
  position: relative;
}

#ofic .container .middle .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#ofic .container .middle .top .adm {
  width: 50%;
  padding: 30px 30px 20px 30px;
  background-color: #e7e7e7;
  background-image: url(../img/aom.png);
  background-position: right top;
  background-repeat: no-repeat;
  background-size: contain;
}

#ofic .container .middle .top .adm p {
  font-family: 'PFDinTextCondPro-Medium';
  font-size: 30px;
  font-weight: 500;
  color: #3f4a59;
  margin-bottom: 20px;
}

#ofic .container .middle .top .adm span {
  font-family: 'Open Sans';
  font-size: 17px;
  line-height: 25px;
  color: #405965;
}

#ofic .container .middle .top .adm a {
  margin-top: 15px;
  display: block;
  text-decoration: none;
  line-height: 40px;
  font-family: 'Open Sans';
  font-size: 17px;
  color: #ffffff;
  padding: 0 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #f15a22;
  border-radius: 5px;
}

#ofic .container .middle .top .mosobl {
  width: 50%;
  background: -webkit-gradient(linear, left top, right bottom, from(#e6ecf3), to(#bfc4cb));
  background: linear-gradient(to bottom right, #e6ecf3, #bfc4cb);
  font-family: 'PFDinTextCondPro-Medium';
  font-size: 30px;
  padding: 30px 20px 26px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#ofic .container .middle .top .mosobl span {
  font-family: 'Open Sans';
  font-size: 17px;
  display: block;
  margin-top: 25px;
  margin-bottom: 20px;
}

#ofic .container .middle .top .mosobl a {
  display: block;
  text-decoration: none;
  font-family: 'Open Sans';
  font-size: 17px;
  color: #ffffff;
  line-height: 40px;
  width: 135px;
  text-align: center;
  background: #f15a22;
  border-radius: 5px;
}

#ofic .container .middle .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#ofic .container .middle .bottom .skid {
  width: 50%;
  padding: 60px 5px 42px 20px;
  background: #44bde5;
  position: relative;
}

#ofic .container .middle .bottom .skid::after {
  content: '';
  width: 1px;
  height: 100%;
  background-color: #6cc8e8;
  position: absolute;
  right: 0;
  top: 0;
}

#ofic .container .middle .bottom .skid .disc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#ofic .container .middle .bottom .skid .disc p {
  font-family: 'PFDinTextCondPro-Medium';
  font-size: 113px;
  color: #beedfc;
}

#ofic .container .middle .bottom .skid .disc div {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: 'PFDinTextCondPro-Medium';
  font-size: 30px;
  color: #ffffff;
  line-height: 30px;
  padding-left: 20px;
}

#ofic .container .middle .bottom .skid span {
  display: block;
  font-family: 'Open Sans';
  font-size: 17px;
  line-height: 22px;
  color: #ffffff;
  padding: 0 20px;
}

#ofic .container .middle .bottom .prover {
  width: 50%;
  padding: 30px 30px 1px 30px;
  background: #44bde5;
}

#ofic .container .middle .bottom .prover p {
  font-family: 'PFDinTextCondPro-Medium';
  font-size: 30px;
  color: #3f4a59;
  margin-bottom: 20px;
}

#ofic .container .middle .bottom .prover form {
  font-family: 'Open Sans';
  font-size: 15px;
}

#ofic .container .middle .bottom .prover form input {
  width: 100%;
  line-height: 40px;
  padding: 0 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 17px;
}

#ofic .container .middle .bottom .prover form button {
  width: 100%;
  line-height: 40px;
  text-align: center;
  border-radius: 5px;
  border: none;
  outline: none;
  color: #ffffff;
  background: #f15a22;
}

#ofic .container .middle .bottom .prover form p {
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

#ofic .container .middle .hidden {
  display: none;
  width: 50%;
  left: 50%;
  top: 0;
  position: absolute;
  height: 100%;
  background-image: url(../img/rifon.png);
  background-size: cover;
  padding: 30px 30px 20px 30px;
}

#ofic .container .middle .hidden p {
  font-size: 30px;
  font-family: 'PFDinTextCondPro';
  line-height: 30px;
  color: #beedfc;
  margin-bottom: 65px;
}

#ofic .container .middle .hidden ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#ofic .container .middle .hidden ul li {
  font-family: 'Open Sans';
  font-size: 15px;
  color: #ffffff;
  width: 50%;
  margin-bottom: 10px;
  padding-left: 23px;
}

.oficInside .container {
  max-height: 230px;
}

.oficInside .container .left .top {
  height: 100% !important;
  background-position: right bottom !important;
  background-size: contain;
}

.oficInside .container .middle .bottom .skid {
  padding: 15px 30px !important;
}

.oficInside .container .middle .bottom .skid span {
  padding: 0 !important;
  padding-left: 20px !important;
}

.oficInside .container .middle .bottom .prover {
  padding: 5px 30px !important;
}

.oficInside .container .middle .bottom .prover p {
  margin-bottom: 5px !important;
}

.oficInside .container .middle .bottom .prover form input {
  margin-bottom: 5px !important;
}

#some .container .section-title {
  font-family: 'PFDinTextCondPro-Medium';
  font-size: 30px;
  margin-bottom: 25px;
  color: #5a6677;
}

#some .container p {
  font-family: 'Open Sans';
  font-size: 14px;
  text-align: justify;
  color: #5a6677;
}

#breadcrumbs {
  padding: 25px 0;
}

#breadcrumbs .container ul li {
  font-family: 'Open Sans';
  font-size: 14px;
  display: inline;
}

#breadcrumbs .container ul li::after {
  content: '/';
  display: inline;
  margin: 0 10px;
}

#breadcrumbs .container ul li:last-child::after {
  display: none;
}

#breadcrumbs .container ul .breadcrumbs-active {
  color: #3c90c8;
}

#kto {
  padding: 55px 0;
}

#kto .container .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#schet {
  background-color: #d4d7db;
  padding: 40px 0 75px 0;
}

#schet .container h4 {
  font-family: 'PFDinTextCondPro-Medium';
  font-size: 40px;
  color: #405965;
  text-align: center;
}

#schet .container .lica {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 2px 8px 0px gray;
          box-shadow: 0px 2px 8px 0px gray;
  border-radius: 8px;
  margin-top: 35px;
  margin-bottom: 45px;
}

#schet .container .lica__item {
  cursor: pointer;
  width: 33.33333%;
  text-align: center;
  font-family: 'PFDinTextCondPro-Medium';
  font-size: 18px;
  line-height: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#d8d8d8));
  background: linear-gradient(to bottom, #efefef, #d8d8d8);
}

#schet .container .lica__item:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

#schet .container .lica__item:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

#schet .container .lica__item-active {
  color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#44bde5), to(#38a9d9));
  background: linear-gradient(to bottom, #44bde5, #38a9d9);
}

#schet .container .prov-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#schet .container .prov-list__item {
  padding: 0 20px 26px 20px;
  background-color: #fff;
  max-width: 271px;
  border-radius: 8px;
  position: relative;
}

#schet .container .prov-list__item .prov-hidden {
  padding: 12px 6px 18px 15px;
  max-width: 280px;
  position: absolute;
  -webkit-box-shadow: 0px 2px 8px 0px gray;
          box-shadow: 0px 2px 8px 0px gray;
  border-radius: 5px;
  bottom: 114px;
  left: 0;
  background-color: #dfe8f1;
  font-family: 'PFDinTextCondPro-Medium';
  display: none;
}

#schet .container .prov-list__item .prov-hidden .hidtit {
  font-size: 15px;
  color: #1b559e;
  text-align: center;
}

#schet .container .prov-list__item .prov-hidden p {
  font-size: 16px;
  line-height: 24px;
}

#schet .container .prov-list__item .prov-hidden .close {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

#schet .container .prov-list__item .image {
  position: relative;
  margin-bottom: 60px;
}

#schet .container .prov-list__item .image .fon {
  display: block;
  margin: 0 auto;
}

#schet .container .prov-list__item .image .cardImage {
  position: absolute;
  left: 50%;
  top: 70px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#schet .container .prov-list__item .sch {
  color: #1b559e;
  font-family: 'PFDinTextCondPro-Medium';
  font-size: 23px;
  text-align: center;
  margin-bottom: 15px;
}

#schet .container .prov-list__item a.chto {
  display: block;
  font-family: 'PFDinDisplayPro';
  font-size: 15px;
  color: #4c4c4c;
  text-align: center;
  margin-bottom: 25px;
}

#schet .container .prov-list__item .price {
  font-family: 'PFDinTextCondPro-Medium';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  font-size: 27px;
}

#schet .container .prov-list__item .price__old {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  width: 30%;
  background: -webkit-gradient(linear, left top, right bottom, from(#38bef4), to(#147ea8));
  background: linear-gradient(to bottom right, #38bef4, #147ea8);
}

#schet .container .prov-list__item .price__old p {
  position: relative;
}

#schet .container .prov-list__item .price__old p::before {
  content: '';
  display: block;
  width: 115%;
  height: 3px;
  background-color: black;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

#schet .container .prov-list__item .price__new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70%;
  color: #1b559e;
  background: -webkit-gradient(linear, left top, right bottom, from(#e1e7ee), to(#bfc4cb));
  background: linear-gradient(to bottom right, #e1e7ee, #bfc4cb);
}

#schet .container .prov-list__item .order {
  display: block;
  text-decoration: none;
  margin: 0 auto;
  color: #ffffff;
  line-height: 55px;
  font-family: 'Myriad Pro';
  font-size: 17px;
  background-color: #f15a22;
  text-align: center;
  font-weight: 700;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 13px;
}

#schet .container .prov-list__item .order-lgot {
  border-radius: 5px;
  padding: 15px;
  font-weight: 700;
  height: 55px;
  display: block;
  text-decoration: none;
  margin: 0 auto;
  color: #ffffff;
  font-family: 'Myriad Pro';
  font-size: 17px;
  background-color: #3baedc;
  text-align: center;
}

#schet .container .prov-list__item .order-lgot span {
  font-size: 11px;
  color: #065070;
  display: block;
}

#gallery {
  overflow: hidden;
  padding: 90px 0 125px 0;
}

#gallery .container h4 {
  font-family: 'PFDinTextCondPro-Medium';
  font-size: 40px;
  text-align: center;
  color: #405965;
  margin-bottom: 55px;
}

#gallery .container .gallery-wrapper .gallery-slider {
  position: relative;
}

#gallery .container .gallery-wrapper .gallery-slider .galleryArrows {
  position: absolute;
  top: 50%;
  left: -10;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
}

#gallery .container .gallery-wrapper .gallery-slider .galleryNextArrow {
  left: inherit;
  right: -10px;
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
}

#gallery .container .gallery-wrapper .gallery-slider__item {
  max-height: 250px;
  -webkit-transition: .3s;
  transition: .3s;
}

#gallery .container .gallery-wrapper .gallery-slider__item img {
  display: block;
  margin: 0 auto;
}

#faq {
  background-color: #f4f7fc;
  padding: 120px 0 100px 0;
}

#faq .container h4 {
  font-family: 'PFDinTextCondPro-Medium';
  font-size: 40px;
  text-align: center;
  color: #405965;
  margin-bottom: 32px;
}

#faq .container .faq-list__item {
  margin-bottom: 10px;
}

#faq .container .faq-list__item-visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  padding: 30px;
  -webkit-box-shadow: 0px 2px 8px 0px gray;
          box-shadow: 0px 2px 8px 0px gray;
  border-radius: 8px;
}

#faq .container .faq-list__item-visible .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#faq .container .faq-list__item-visible .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  outline: none;
}

#faq .container .faq-list__item-visible .right p {
  font-family: 'Open Sans';
  font-size: 20px;
  font-weight: 700;
  -webkit-transition: .3s;
  transition: .3s;
  color: #4a5667;
}

#faq .container .faq-list__item-visible .right i {
  font-size: 75px;
  margin-left: 110px;
  -webkit-transition: .3s;
  transition: .3s;
  color: #aaafbc;
}

#faq .container .faq-list__item-hidden {
  display: none;
  padding: 30px 100px;
  font-family: 'Open Sans';
  font-size: 17px;
  line-height: 22px;
  -webkit-transition: .3s;
  transition: .3s;
}

#faq .container .faq-list .active .faq-list__item-visible .right p {
  color: #f15a22;
}

#faq .container .faq-list .active .faq-list__item-visible .right i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  color: #f15a22;
}

#faq .container .faq-list .active .faq-list__item-hidden {
  display: block;
}

#leave {
  background-image: url(../img/12344.png);
  padding: 95px 0 70px 0;
}

#leave .container h4 {
  font-family: 'PFDinTextCondPro-Medium';
  font-size: 40px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 10px;
}

#leave .container p {
  font-family: 'Open Sans';
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 55px;
}

#leave .container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#leave .container form input {
  width: calc(25% - 30px);
  line-height: 60px;
  padding: 0 25px;
  border-radius: 5px;
  border: none;
  font-family: 'Open Sans';
  font-size: 15px;
  margin-bottom: 30px;
}

#leave .container form button {
  width: calc(25% - 30px);
  font-family: 'Open Sans';
  font-size: 17px;
  font-weight: 700;
  line-height: 60px;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  background-color: #f15a22;
  margin-bottom: 30px;
}

#leave .container form span {
  display: block;
  width: 100%;
  font-family: 'Open Sans';
  font-size: 13px;
  text-align: center;
  color: #ffffff;
}

#order {
  padding: 85px 0 35px 0;
}

#order .container h4 {
  font-family: 'PFDinTextCondPro-Medium';
  font-size: 40px;
  text-align: center;
  color: #405965;
  margin-bottom: 55px;
}

#order .container .wrapper .item {
  max-width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#order .container .wrapper .item img {
  margin-bottom: 25px;
}

#order .container .wrapper .item p {
  font-family: 'PFDinTextCondPro-Medium';
  font-size: 27px;
  text-align: center;
  margin-bottom: 20px;
  color: #1b559e;
}

#order .container .wrapper .item span {
  display: block;
  font-family: 'Open Sans';
  font-size: 17px;
  text-align: center;
}

#order .container .wrapper .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#order .container .wrapper .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#order .container .wrapper .middle {
  padding: 30px 0;
}

#order .container .wrapper .middle .arrows {
  font-family: 'Open Sans';
  font-size: 20px;
  font-weight: 600;
  color: #1b559e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#order .container .wrapper .middle .arrows .number {
  padding: 0 5px;
  width: calc(25% - 19px);
  background-image: url(../img/dotarrow.png);
  background-repeat: no-repeat;
  background-position: right center;
}

#order .container .wrapper .middle .arrows .number:last-child {
  width: 36px;
  background-image: none;
}

#order .container .wrapper .middle .arrows .number p {
  background-color: #ffffff;
  text-align: center;
  line-height: 30px;
  height: 36px;
  width: 36px;
  border-radius: 35px;
  border: 2px solid #1b559e;
}

#advantages {
  background-image: url(../img/4im.png);
  padding: 140px 0px 100px 0;
}

#advantages .wrap-adv {
  background: #1877ba;
  padding: 0px 20px;
  padding-bottom: 50px;
}

#advantages .wrap-adv .adv-offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#advantages .wrap-adv .advant-item {
  margin-top: -80px;
}

#advantages .wrap-adv .advant-item .advant-item__info h6 {
  text-align: center;
  font-family: 'PFDinTextCondPro-Medium', sans-serif;
  font-weight: normal;
  font-size: 50px;
  color: #ffffff;
  margin-bottom: 10px;
  margin-top: 30px;
}

#advantages .wrap-adv .advant-item .advant-item__info p {
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  max-width: 175px;
}

#clients .slick-current .review-head_title {
  color: #f15a22;
  -webkit-transition: .3s;
  transition: .3s;
}

#clients .slick-current .review-body::before {
  background: #f15a22 !important;
}

#clients {
  background: #f4f7fc;
  padding: 50px 0px;
  overflow: hidden;
}

#clients h5 {
  font-family: 'PFDinTextCondPro-Medium', sans-serif;
  font-weight: normal;
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
  color: #405965;
}

#clients .slider-clients .clientsArrows {
  position: absolute;
  top: 50%;
  left: -40px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#clients .slider-clients .clientsNextArrow {
  left: inherit;
  right: -40px;
}

#clients .slick-track {
  padding: 20px 0px;
}

#clients .client-item {
  max-height: 600px;
}

#clients .client-item .wrapper {
  margin: 0 auto;
  border-radius: 3px;
  outline: none;
  padding: 30px;
  height: 100%;
  max-width: 370px;
  -webkit-box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.2);
}

#clients .client-item .wrapper .review-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#clients .client-item .wrapper .review-head .review-head_img {
  margin-right: 10px;
}

#clients .client-item .wrapper .review-head .review-head_title {
  -webkit-transition: .3s;
  transition: .3s;
}

#clients .client-item .wrapper .review-head .review-head_title h6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

#clients .client-item .wrapper .review-head .review-head_title p {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: normal;
}

#clients .client-item .wrapper .review-body {
  margin-top: 30px;
  position: relative;
}

#clients .client-item .wrapper .review-body:before {
  display: block;
  content: '';
  margin-bottom: 20px;
  width: 45px;
  height: 3px;
  background: #1b559e;
}

#clients .client-item .wrapper .review-body p {
  margin-bottom: 15px;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: normal;
}

#documents {
  padding: 50px 0px;
  background: #f4f7fc;
}

#documents h5 {
  font-family: 'PFDinTextCondPro-Medium', sans-serif;
  font-weight: normal;
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
  color: #405965;
}

#documents .documents_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#documents .documents_wrap .doc_item {
  padding-top: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
  width: 49%;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.2);
}

#documents .documents_wrap .doc_item .doc_img {
  margin-right: 20px;
}

#documents .documents_wrap .doc_item .doc_head {
  margin-bottom: 20px;
  font-family: 'PFDinTextCondPro-Medium', sans-serif;
  font-size: 27px;
  color: #1b559e;
  font-weight: normal;
}

#documents .documents_wrap .doc_item .doc_body {
  font-size: 17px;
  color: #39424e;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}

#check {
  padding: 50px 0;
  background: #ffffff;
}

#check h5 {
  font-family: 'PFDinTextCondPro-Medium', sans-serif;
  font-weight: normal;
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
  color: #405965;
}

#check p {
  font-size: 17px;
  color: #39424e;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  margin-bottom: 30px;
}

#check .check-links ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#check .check-links ul li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 5px;
}

#contacts {
  padding: 70px 0px;
  background: #f4f7fc;
}

#contacts h5 {
  font-family: 'PFDinTextCondPro-Medium', sans-serif;
  font-weight: normal;
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
  color: #405965;
}

#contacts .contact-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 45px;
}

#contacts .contact-wrap .contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#contacts .contact-wrap .contact-item .contact-item__icon {
  margin-right: 10px;
}

#contacts .contact-wrap .contact-item .contact-item__text .contact-item__head {
  font-size: 25px;
  font-family: 'PFDinTextCondPro-Medium', sans-serif;
  font-weight: normal;
  color: #1b559e;
  margin-bottom: 10px;
}

#contacts .contact-wrap .contact-item .contact-item__text a {
  display: block;
  text-decoration: none;
  color: #39424e;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  line-height: 20px;
}

#contacts .contact-wrap .contact-item .contact-item__text p {
  color: #39424e;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  line-height: 20px;
}

.slick-dots {
  bottom: -60px;
}

.slick-dots li {
  width: 60px;
}

.slick-dots li button:before {
  content: '';
  width: 60px;
  height: 4px;
  background-color: #e0e1e6;
  border-radius: 4px;
}

.slick-dots li.slick-active button:before {
  background-color: #8b91a3;
}

footer {
  background: #e3e7ed;
  padding: 90px 0px;
  font-family: 'Open Sans', sans-serif;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .container .foot-info {
  margin-top: -30px;
}

footer .container .foot-info .logo {
  margin-bottom: 30px;
}

footer .container .foot-info p {
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 15px;
  color: #39424e;
}

footer .container .foot-links ul {
  padding: 0;
  margin: 0;
}

footer .container .foot-links ul li {
  margin-bottom: 20px;
}

footer .container .foot-links ul li a {
  font-size: 17px;
  color: #39424e;
  text-decoration: none;
  font-weight: normal;
}

footer .container .foot-soc div {
  margin-bottom: 20px;
  color: #39424e;
  font-size: 17px;
  color: #39424e;
}

footer .container .foot-soc div a {
  color: #39424e;
}

footer .container .foot-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .container .foot-back .phone-ic {
  margin-right: 10px;
  color: #39424e;
  font-size: 17px;
}

footer .container .foot-back .phones a {
  display: block;
  font-size: 17px;
  font-weight: normal;
  color: #39424e;
  text-decoration: none;
  margin-bottom: 5px;
}

footer .container .foot-back button {
  display: block;
  color: #fff;
  width: 265px;
  height: 60px;
  background: #f1602a;
  font-size: 17px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
}

footer .container .foot-back p {
  font-size: 12px;
  font-weight: normal;
  color: #39424e;
  margin-bottom: 20px;
}

footer .container .foot-back a {
  font-size: 12px;
  font-weight: normal;
  color: #39424e;
}

@media screen and (max-width: 1266px) {
  #clients .slider-clients .clientsPrevArrow {
    left: -25px;
  }
  #clients .slider-clients .clientsNextArrow {
    right: -25px;
  }
}

@media screen and (max-width: 1200px) {
  #gallery .container .gallery-wrapper .gallery-slider .galleryArrows {
    left: 5px;
  }
  #gallery .container .gallery-wrapper .gallery-slider .galleryNextArrow {
    right: 5px;
  }
}

@media screen and (max-width: 1100px) {
  .oficInside .container {
    max-height: 100% !important;
  }
  #ofic .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #ofic .container .left {
    width: 100%;
    max-width: 100%;
  }
  #ofic .container .middle .top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #ofic .container .middle .top .adm {
    width: 100%;
  }
  #ofic .container .middle .top .mosobl {
    width: 100%;
  }
  #ofic .container .middle .bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #ofic .container .middle .bottom .skid {
    width: 100%;
  }
  #ofic .container .middle .bottom .prover {
    width: 100%;
  }
}

@media screen and (max-width: 1160px) {
  .burger {
    display: block;
  }
  #documents .documents_wrap .doc_item {
    padding: 20px;
  }
  #advantages .wrap-adv .adv-offer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #advantages .wrap-adv .adv-offer .advant-item {
    width: calc(50% - 30px);
    margin-bottom: 100px;
  }
  #advantages .wrap-adv .adv-offer .advant-item__img img {
    display: block;
    margin: 0 auto;
  }
  #schet .container .prov-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #schet .container .prov-list__item {
    width: calc(50% - 30px);
    max-width: inherit;
    margin-bottom: 20px;
  }
  #menu .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #menu .container .menu-list {
    display: none;
  }
  #leave .container form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #leave .container form input {
    width: calc( 50% - 20px);
  }
  #leave .container form button {
    width: calc( 50% - 20px);
  }
}

@media screen and (max-width: 950px) {
  #order .container .wrapper .middle {
    display: none;
  }
  #order .container .wrapper .top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #order .container .wrapper .item {
    margin-bottom: 30px;
  }
  #order .container .wrapper .bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .container .foot-back .phone-ic {
    display: none;
  }
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  footer .container .foot-info {
    margin-bottom: 20px;
  }
  footer .container .foot-link {
    margin-bottom: 20px;
  }
  footer .container .foot-soc {
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .container .foot-soc .item-link {
    margin-right: 5px;
  }
  footer .container .foot-soc .item-link:last-child {
    margin-right: 0;
  }
  #contacts .contact-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #contacts .contact-wrap .contact-item {
    margin-bottom: 20px;
  }
  #contacts .contact-wrap .contact-item__icon {
    width: 29px;
  }
  #contacts .contact-wrap .contact-item__text {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  #kto .container .list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #kto .container .list .item {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 900px) {
  #clients .slider-clients .clientsPrevArrow {
    left: -15px;
  }
  #clients .slider-clients .clientsNextArrow {
    right: -15px;
  }
}

@media screen and (max-width: 850px) {
  #documents .documents_wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #documents .documents_wrap .doc_item {
    width: 100%;
  }
  #schet .container .lica {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  #schet .container .lica__item {
    width: 100%;
    border-radius: 5px;
  }
  header .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .container .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .container .wrapper .phone {
    margin-right: 0;
    margin-bottom: 10px;
  }
  header .container .wrapper .adress {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 630px) {
  #clients .slider-clients .clientsArrows {
    display: none !important;
  }
  #gallery .container .gallery-wrapper .gallery-slider .galleryArrows {
    display: none !important;
  }
  #faq .container .faq-list__item-hidden {
    padding: 15px;
  }
  #advantages .wrap-adv .adv-offer .advant-item {
    width: 100%;
  }
  #leave .container form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #leave .container form input {
    width: 100%;
  }
  #leave .container form button {
    width: 100%;
  }
  #faq .container .faq-list__item-visible {
    padding: 15px 10px;
  }
  #faq .container .faq-list__item-visible .right p {
    font-size: 17px;
  }
  #faq .container .faq-list__item-visible .right i {
    font-size: 50px;
    margin-left: 10px;
  }
  #schet .container .prov-list__item {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  #ofic .container .middle .top .adm {
    background-image: none;
  }
  #ofic .container .middle .bottom .skid .disc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px;
  }
  #ofic .container .middle .top .mosobl .image {
    display: none;
  }
  #ofic .container .middle .bottom .skid .disc p {
    font-size: 100px;
  }
}

@media screen and (max-width: 400px) {
  #faq .container .faq-list__item-visible .left {
    display: none;
  }
  #faq .container .faq-list__item-visible .right {
    padding-left: 0;
  }
  header {
    font-size: 13px;
  }
}
/*# sourceMappingURL=style.css.map */